<h1 style="text-align:center">MEDICAL SOS REQUESTS</h1>
<!-- <div>
<button mat-raised-button color="primary" class="block"> MEDICINE </button>
<button mat-raised-button color="primary" class="block"> MEDICAL EQUIPMENT </button>
<button mat-raised-button color="primary" class="block"> BEDS </button>
</div> -->

<div style="width: 45%; margin-top: 20px; margin-left: 20px; shape-margin: 20px;">
    <mat-card>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button style="margin-left: 40px;" mat-raised-button color="primary" routerLink="/addmedicine">MEDICINE</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button style="margin-left: 40px;" mat-raised-button color="primary" routerLink="/addequipment">MEDICAL EQUIPMENT</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button style="margin-left: 40px;" mat-raised-button color="primary" routerLink="/addbed">BEDS</button>
            </mat-list-item>
          </mat-list>
    </mat-card>
</div>

<div *ngFor="let obj of closeSos">
<tr>
    <td>{{obj.city}}</td>
    <td>{{obj.patientName}}</td>
</tr>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class=""></div>
      <mat-card-title>REQUIREMENT TITLE HERE</mat-card-title>
      <mat-card-subtitle>REQUIREMENT TYPE HERE</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{obj.patientName}}<br>
        {{obj.gender}}<br>
        {{obj.phoneNo}}<br>
        {{obj.hospitalised}}<br>
        {{obj.city}}<br>
        

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>PASS</button>
      <button mat-button>CLOSE</button>
      <button mat-raised-button color="accent" class="block" style = "align-self: center ;"> SEARCH FOR RESOURCES </button>
    </mat-card-actions>
  </mat-card>
  
</div>

<br>

<!-- {{closeSos.patientName}}
{{closeSos.phoneNo}}
{{closeSos.gender}}
{{closeSos.email}}
{{closeSos.hospitalised}}
{{closeSos.city}}
{{closeSos.requir[0]}}
{{closeSos.requir[1]}}
{{closeSos.requir[2]}}
{{closeSos.requestStatus}} -->
<!-- 
############################################################### -->
