<p>latest-information works!</p>
<h2>Latest Information... </h2>
<div class="col-md-6">
    <table class="center table table-striped">
        <thead>
            <tr>
                <th>Loc</th>
                <th>Confirmed Cases Indian</th>
                <th>Confirmed Cases Foreign</th>
                <th>Discharged</th>
                <th>Deaths</th>
                <th>Total Confirmed</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let locationStat of locationStats">
                <td>{{locationStat.loc}}</td>
                <td>{{locationStat.confirmedCasesIndian}}</td>
                <td>{{locationStat.confirmedCasesForeign}}</td>
                <td>{{locationStat.discharged}}</td>
                <td>{{locationStat.deaths}}</td>
                <td>{{locationStat.totalConfirmed}}</td>
            </tr>
        </tbody>
    </table>
</div>