<body>
<form [formGroup]="profileForm" class="form-container">

  <mat-card style="width: 500px; text-align: center;">

    <mat-card-title>Register As Volunteer</mat-card-title>
    <br>

    <mat-card-content style="justify-content: center;">

      <mat-form-field appearance="outline" style="width: 300px;">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="user.emailId" formControlName="emailId" matInput placeholder="pat@example.com" required>
        <mat-error *ngIf="profileForm.get('emailId')?.invalid && profileForm.get('emailId')?.touched">Invalid Email
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline" style="width: 300px;">
        <mat-label>Full Name</mat-label>
        <input [(ngModel)]="user.fullName" formControlName="fullName" matInput placeholder="pat" required>
        <mat-error *ngIf="profileForm.get('fullName')?.invalid && profileForm.get('fullName')?.touched">Required field
          and should contain atleat 2 characters.
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline" style="width: 70px;">
        <mat-label></mat-label>
        <mat-select placeholder="+91">
          <mat-option *ngFor="let code of code" [value]="code.value">
            {{code.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 230px;">
        <mat-label>Phone Number</mat-label>
        <input formControlName="phoneNumber" matInput maxlength="10" minlength="10" required type="number">
        <mat-error *ngIf="profileForm.get('phoneNumber').errors?.pattern && profileForm.get('phoneNumber')?.touched">
          Please enter a valid phone number
        </mat-error>
        <mat-error *ngIf="profileForm.get('phoneNumber').errors?.required && profileForm.get('phoneNumber')?.touched">
          Required Field
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline" style="width: 300px;">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'" formControlName="password" matInput placeholder="password"
               required>
        <mat-icon (click)="hide = !hide" matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint>Should contain 8 to 15 characters with atleast 1 lowercase, uppercase, number and special character
        </mat-hint>
        <mat-error *ngIf="profileForm.get('password')?.invalid && profileForm.get('password')?.touched">Should contain 8
          to 15 characters with atleast 1 lowercase, uppercase, number and special character
        </mat-error>
      </mat-form-field>
      <br>

      <button (click)="createVolunteer()" [disabled]="profileForm?.invalid" color="primary" mat-raised-button
              style="margin-top: 5%;">Register
      </button>

    </mat-card-content>

  </mat-card>

</form>
</body>
