
<!-- <br><div class="container">
  <h2 align="center">Join Kawach!</h2>
  <p align = "center">As a volunteer</p>

<form>
    <div class="form-group">
      <label for="emailId">Email ID:</label>
      <input [(ngModel)]="user.emailId" placeholder="Email id" name="emailId" class="form-control" id="emailId">
    </div>

    <div class="form-group">
      <label for="name">Full Name:</label>
      <input type="name" [(ngModel)]="user.fullName" placeholder="Full name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="phNo">Phone Number:</label>
      <input [(ngModel)]="user.phoneNumber" placeholder="Phone number" name="phNo" class="form-control" id="phNo">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input [(ngModel)]="user.password" placeholder="Password" name="password" class="form-control" id="password">
    </div><br>
    
    <p align = "center"><button class="btn btn-success" (click)="createVolunteer()">Register</button></p>
  </form>
  </div> -->

  <!-- <div class="example-container">
    

  </div> -->

  <body>
    <form [formGroup]="profileForm" class="form-container">

      <mat-card style="width: 300px; text-align: center;">

        <mat-card-title>Register</mat-card-title>
        <p>As a Volunteer</p><br>

      <mat-card-content style="justify-content: center;">

        <mat-form-field appearance="outline" style="width: 225px;">
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailId" placeholder="pat@example.com" [formControl]="email" required [(ngModel)]="user.emailId">
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field><br>

        <mat-form-field appearance="outline" style="width: 225px;">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="fullName" placeholder="pat" required [formControl]="name" [(ngModel)]="user.fullName">
          <mat-error *ngIf="name.invalid">{{getErrorName()}}</mat-error>
        </mat-form-field><br>

        <mat-form-field appearance="outline" style="width: 225px;">
          <mat-label>Phone Number</mat-label>
          <input matInput type="number" formControlName="phoneNumber" placeholder="1234567890" required [formControl]="ph" [(ngModel)]="user.phoneNumber">
          <mat-error *ngIf="ph.invalid">{{getErrorPh()}}</mat-error>
        </mat-form-field><br>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Include special characters" required [formControl]="pass" [(ngModel)]="user.password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="pass.invalid">{{getErrorPass()}}</mat-error>
        </mat-form-field><br>

        <button mat-raised-button color="primary" (click)="createVolunteer()">Register</button>

      </mat-card-content>

    </mat-card>  
  
    </form>   
  </body>
  

  

  