<mat-list>
    <mat-list-item>
        <div>
            <img src="">
        </div>
        <div mat-card>
            Feedback goes here
        </div>
    </mat-list-item>

    <mat-list-item>
        <div>
            <img src="">
        </div>
        <div mat-card>
            Feedback goes here
        </div>
    </mat-list-item>

    <mat-list-item>
        <div>
            <img src="">
        </div>
        <div mat-card>
            Feedback goes here
        </div>
    </mat-list-item>
</mat-list>