<h1 style="text-align:center">War Room Dashboard</h1>
<mat-grid-list cols="3" >
    <mat-grid-tile rowHeight= "40px">
        <button mat-raised-button color="accent" (click)="routeTo('sos')"> SOS</button>
    </mat-grid-tile>
    <mat-grid-tile rowHeight= "40px">
        <button mat-raised-button color="accent"  (click)="routeTo('Verification')"> Verification</button>
    </mat-grid-tile>
    <mat-grid-tile >
        <mat-expansion-panel>
            <mat-expansion-panel-header color="accent">
                <mat-panel-title color="accent">
                    Add Resources
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-action-row>
            <button mat-raised-button color="accent" (click)="routeTo('Medicine')"> Medicine</button>
            </mat-action-row>
            <mat-action-row>
            <button mat-raised-button color="accent" (click)="routeTo('Equipment')"> Medical Equipment</button>
            </mat-action-row>
            <mat-action-row>
            <button mat-raised-button color="accent" class="btn btn-md btn-primary btn-style" (click)="routeTo('Bed')"> Bed</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-grid-tile>

</mat-grid-list>
<br>
<br>
<br>