<h1 style="text-align:center">War Room Dashboard</h1>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Medical SOS">
    

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="20">
        <button mat-raised-button [ngClass]="{'nav-button-active':closeMed, 'nav-button-inactive':!closeMed}" (click)="medSos()">
          Medicine SOS </button>
        <button mat-raised-button [ngClass]="{'nav-button-active':closeEquip, 'nav-button-inactive':!closeEquip}" (click)="EquipSos()">
          Equipment SOS </button>
        <button mat-raised-button [ngClass]="{'nav-button-active':closeBed, 'nav-button-inactive':!closeBed}" (click)="bedSos()">
          Beds SOS </button>
      </div>
      <div fxFlex="80">
        <app-close-sos-equipment *ngIf="closeEquip"></app-close-sos-equipment>
        <app-close-sos *ngIf="closeMed"></app-close-sos>
        <app-close-sos-bed *ngIf="closeBed"></app-close-sos-bed>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Verification">
    
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="20">
        <button mat-raised-button [ngClass]="{'nav-button-active':verifyMedicine, 'nav-button-inactive':!verifyMedicine}" (click)="verMed()">
          Verify Medicine </button>
        <button mat-raised-button [ngClass]="{'nav-button-active':verifyEquipment, 'nav-button-inactive':!verifyEquipment}" (click)="verEquip()">
          Verify Equipment </button>
        <button mat-raised-button [ngClass]="{'nav-button-active':verifyBed, 'nav-button-inactive':!verifyBed}" (click)="verBed()">
          Verify Beds </button>
      </div>
      <div fxFlex="80">
        <app-verify-equipments *ngIf="verifyEquipment"></app-verify-equipments>
        <app-verify-medicine *ngIf="verifyMedicine"></app-verify-medicine>
        <app-verify-bed *ngIf="verifyBed"></app-verify-bed>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Add Resources">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="20">
      <button mat-raised-button [ngClass]="{'nav-button-active':addMed, 'nav-button-inactive':!addMed}" (click)="addMedres()">
        Add Medicine </button>
      <button mat-raised-button [ngClass]="{'nav-button-active':addEquip, 'nav-button-inactive':!addEquip}" (click)="addEquipRes()">
        Add Equipment </button>
      <button mat-raised-button [ngClass]="{'nav-button-active':addBed, 'nav-button-inactive':!addBed}" (click)="addBedRes()">
        Add Beds </button>
    </div>
    <div fxFlex="80">
      <app-add-equipment *ngIf="addEquip"></app-add-equipment>
      <app-add-medicine *ngIf="addMed"></app-add-medicine>
      <app-add-bed *ngIf="addBed"></app-add-bed>
    </div>
  </div>
</mat-tab>
</mat-tab-group>


