<h1 class="text-center">Join the Pandemic Support</h1>

<div style="margin-left: 550px;">
  <h2 class="text-center">Patient login here</h2>
  <div class="col-md-6 container" style="max-width: 500px;">
    <form>
      <div class="form-group">
        <input matInput [(ngModel)]="user.email"  required placeholder="Email" name="email" class="form-control" id="email">
      </div>
    </form>
    <button (click)="CreatePatient()" color="primary" mat-raised-button>Submit</button>
  </div>
<br>

  <div class="col-md-6 container">

    <form appearance="outline" #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">

      <!-- <div *ngIf="message==='FAIL'">
        Entered Otp is NOT valid. Please Retry!
      </div> -->

      <input matInput type = "text" name = "otp" required placeholder = "OTP" class="form-control" ngModel>
      <button color="primary" mat-raised-button >Verify</button>

    </form>

  </div>

</div>

