<h1 class="text-center">Join the Pandemic Support</h1>
<h2 class="text-center">Patient login here</h2>

<div class="container">
  <div class="col-md-6 container">
    <form>
      <div class="form-group">
        <label for="email">E-Mail:</label>
        <input [(ngModel)]="user.email"  placeholder="Email" name="email" class="form-control" id="email">
      </div>
    <button class="btn btn-success" (click)="CreatePatient()">Submit</button>
    </form>
  </div>

  <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" class="col-md-6 container">
    <div *ngIf="message==='FAIL'">
      <h2>Entered Otp is NOT valid. Please Retry!</h2>
    </div>
    <label for="otp">OTP:</label><br>
    <input type = "text" name = "otp" placeholder = "otp" ngModel>
    <br/>

    <input type = "submit" value = "Verify">
  </form>
</div>
