<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>DOCTORS</mat-card-title>
    <mat-card-subtitle>Corona warriors</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/doctor.jpg">
  <mat-card-content>
    <p>
      Our corona warrior present to help people in need of consultation via live video chat
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Become our Doctor</button>
  </mat-card-actions>
</mat-card>
