<div style="width: 45%; margin-top: 20px; margin-left: 20px;">
    <mat-card>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button style="margin-left: 40px;" mat-raised-button color="primary" routerLink="/addmedicine">Verify Medicine</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button style="margin-left: 40px;" mat-raised-button color="primary" routerLink="/addequipment">Verify Medical Equipment</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button style="margin-left: 40px;" mat-raised-button color="primary" routerLink="/addbed">Verify Bed</button>
            </mat-list-item>
          </mat-list>
    </mat-card>
</div>

<div style="width: 45%;">
    
</div>