<p>warroom-verify works!</p>
<div style="width: 45%;">
    <mat-card>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button style="margin-left: 40px;" mat-raised-button color="primary" routerLink="/addmedicine">Add Medicine</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button style="margin-left: 40px;" mat-raised-button color="primary" routerLink="/addequipment">Add Medical Equipment</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button style="margin-left: 40px;" mat-raised-button color="primary" routerLink="/addbed">Add Bed</button>
            </mat-list-item>
          </mat-list>
    </mat-card>
</div>

<div style="width: 45%;">
    
</div>