<p>Doctor-dashboard!</p>

<mat-card>
    <mat-card-header>
        <img mat-card-avatar src="/assets/doctor.jpg">
    </mat-card-header>
     
</mat-card>

<mat-tab-group color="primary">
    <mat-tab label="Time Slot"> 
        <app-timeslot></app-timeslot>
    </mat-tab>
    <mat-tab label="Feedback"> 
        <app-feedback></app-feedback>
    </mat-tab>
    <mat-tab label="Consult Q&A"> 
        <app-consult></app-consult>
    </mat-tab>
  </mat-tab-group>
  <!-- <button mat-button>Make me online</button> -->