<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="#home" routerLink="/home">DIYit<span>.</span></a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="#home" routerLink="/home">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto " href="#pricing">Subscribe</a></li>
        <li><a class="nav-link scrollto" href="#">{{username}}</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    <a class="get-started-btn scrollto" routerLink="/upload">Upload</a>
  </div>
</header><!-- End Header -->
<app-all-contents></app-all-contents>