<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="#home" routerLink="/home">DIYit<span>.</span></a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" href="#home" routerLink="/home">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto " href="#pricing">Subscribe</a></li>
        <li><a class="nav-link scrollto" href="#">{{username}}</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    <a class="get-started-btn scrollto" href="#upload" routerLink="/upload">Upload</a>
  </div>
</header><!-- End Header -->

<!-- <div class="container">
    <div class="col-md-12">
        <h1>Upload Content</h1>
    </div>
  </div>
  <div class="container">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Select Domain</label>
      </div>
      <select [(ngModel)]="uploadContent.domain" class="custom-select" id="inputGroupSelect01">
        <option *ngFor="let domain of domains" [value]="domain">{{domain}}</option>
      </select>
    </div>
  </div>
    
  <div class="container">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Title</span>
      </div>
      <input type="text" [(ngModel)]="uploadContent.title" aria-label="First name" class="form-control">
    </div>
  </div>
  
  <div class="container">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Language</span>
      </div>
      <input type="text" [(ngModel)]="uploadContent.language" aria-label="First name" class="form-control">
    </div>
  </div>
  
  <div class="container">
    <div class="form-group">
      <label for="instructionsTextarea">Instructions</label>
      <textarea class="form-control" [(ngModel)]="uploadContent.instructions" id="instructionsTextarea" placeholder="Write the instructions here..." rows="7"></textarea>
    </div>
  </div>
  
  <div class="container">
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile04" (change)="onFileChanged($event)">
        <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
      </div>
      <div class="input-group-append">
        <input class="btn btn-outline-secondary" type="button" (click)="onUploadImage()" value="Upload Image">
      </div>
    </div>
  
    <div class="input-group-append">
      <input class="btn btn-outline-secondary" type="button" (click)="onUploadContent()" value="Upload Content">
    </div>
  
  </div>
  
  <hr />
  <div class="container">
    <div class="col-md-12">
        <div *ngIf=message>{{message}}</div>
    </div>
  </div> -->
  
  <div class="wrapper">
    <div class="inner">
      <form action="">
        <h3>Upload Project</h3>
        <label class="form-group">
          <input type="text" class="form-control" [(ngModel)]="uploadContent.title" [ngModelOptions]="{standalone: true}" required>
          <span>Title</span>
          <span class="border"></span>
        </label>
        <label class="form-group">
          <select [(ngModel)]="uploadContent.domain" [ngModelOptions]="{standalone: true}" class="form-control" id="inputGroupSelect01">
            <option *ngFor="let domain of domains" [value]="domain">{{domain}}</option>
          </select>
          <span for="">Domain</span>
          <span class="border"></span>
        </label>
        <label class="form-group">
          <input type="text" class="form-control" [(ngModel)]="uploadContent.language" [ngModelOptions]="{standalone: true}" required>
          <span for="">Language</span>
          <span class="border"></span>
        </label>
        <label class="form-group" >
          <textarea class="form-control" [(ngModel)]="uploadContent.instructions" [ngModelOptions]="{standalone: true}" rows="7" required></textarea>
          <span for="">Instructions</span>
        </label>
        <label class="form-group">
          <input type="file" class="form-control" (change)="onFileChanged($event)" required>
        </label>
        <button (click)="onUploadContent()">Submit 
          <i class="zmdi zmdi-arrow-right"></i>
        </button>
      </form>
    </div>
  </div>
