<div style="margin-left: 2%; margin-right: 2%;" [formGroup]="bedForm">
  <mat-card>
    <div fxLayout="row">
      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="scheduler-field">
          <mat-label class="mat-caption">Bed Type</mat-label>
          <input matInput placeholder="Bed Type" formControlName="bedType">
          <mat-error>Should be filled and have atleast 2 character</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="50%">
        <mat-form-field appearance="outline" class="scheduler-field">
          <mat-label class="mat-caption">City</mat-label>
          <input matInput placeholder="City" formControlName="city">
          <mat-error>Should be filled</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50%">
        <mat-form-field appearance="outline" class="scheduler-field">
          <mat-label class="mat-caption">Address</mat-label>
          <input matInput placeholder="Address" formControlName="address">
          <mat-error>Should be filled</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="50%">
        <mat-form-field appearance="outline" class="scheduler-field">
          <mat-label class="mat-caption">Contact Person</mat-label>
          <input matInput placeholder="Contact Person" formControlName="contactPerson">
          <mat-error>Should be filled and have atleat 3 character</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50%">
        <mat-form-field appearance="outline" class="scheduler-field">
          <mat-label class="mat-caption">Phone Number</mat-label>
          <input matInput placeholder="Phone Number" formControlName="mobileNumber" maxlength="10">
          <mat-error>Should be filled and have exactly 10 numbers</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <mat-checkbox (change)="check()">Confirmed and Verified</mat-checkbox>
      <button mat-raised-button color="primary" [disabled]="!bedForm.valid" (click)="CreateBed()">Submit</button>
    </div>

  </mat-card>
</div>