<div class="container">
  <mat-card>
    <form #loginForm="ngForm" class="form-container">
      <mat-card-header>
        <mat-card-title class="center">Raise a Medical SOS Request</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Patient Name<span style="color: red !important">*</span></mat-label>
              <input [(ngModel)]="user.patientName" [formControl]="nameFormControl" matInput placeholder="Name"
                     type="text"/>
              <mat-error *ngIf="nameFormControl.errors?.pattern && !nameFormControl.hasError('required')">
                Please enter a valid Name of (3 - 20 letters), No numbers or Special character allowed
              </mat-error>
              <mat-error *ngIf="nameFormControl.hasError('required')"> Name is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Phone Number<span style="color: red !important">*</span></mat-label>
              <span matPrefix>+91 &nbsp;</span>
              <input [(ngModel)]="user.phoneNo" [formControl]="telFormControl" matInput placeholder="555-555-1234"
                     type="tel"/>
              <mat-error *ngIf="telFormControl.errors?.pattern && !telFormControl.hasError('required')">
                Please enter a valid Valid Phone Number
              </mat-error>
              <mat-error *ngIf="telFormControl.hasError('required')"> Phone Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Email Id<span style="color: red !important">*</span></mat-label>
              <input [(ngModel)]="user.email" [formControl]="emailFormControl" matInput placeholder="Ex. pat@example.com"
                     type="email"/>
              <mat-error *ngIf="emailFormControl.errors?.pattern && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')"> Email is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>City<span style="color: red !important">*</span></mat-label>
              <input [(ngModel)]="user.city" [formControl]="cityFormControl" matInput placeholder="City" type="text"/>
              <mat-error *ngIf="cityFormControl.errors?.pattern && !cityFormControl.hasError('required')">
                Please enter a valid City Name of (4 - 20 letters), No numbers or Special character allowed
              </mat-error>
              <mat-error *ngIf="cityFormControl.hasError('required')"> City name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Select Gender<span style="color: red !important">*</span></mat-label>
              <mat-select [(ngModel)]="user.gender" [formControl]="genderFormControl">
                <mat-option *ngFor="let gender of genders" [value]="gender.viewValue">
                  {{gender.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="genderFormControl.hasError('required')"> Gender is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label> Hospitalised Status<span style="color: red !important">*</span></mat-label>
              <mat-select [(ngModel)]="user.hospitalised" [formControl]="hospitalFormControl">
                <mat-option *ngFor="let hospitalised of hospitaliseds" [value]="hospitalised.viewValue">
                  {{hospitalised.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="hospitalFormControl.hasError('required')"> Hospitalised status is
                <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <app-upload-file></app-upload-file>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Request Type<span style="color: red !important">*</span></mat-label>
              <mat-select [(ngModel)]="user.requestStatus" [formControl]="requestStatusFormControl">
                <mat-option *ngFor="let requestStatus of requestStatuses" [value]="requestStatus.viewValue">
                  {{requestStatus.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="requestStatusFormControl.hasError('required')"> Request Type is
                <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </form>

    <form [formGroup]="patientForm">
      <mat-card-content>
        <div class="d-flex justify-content-between context">
          <div>
            <mat-card-title>Requirement List</mat-card-title>
          </div>
          <div class="d-flex flex-row-reverse bd-highlight">
            <div class="example-button-container">
              <button (click)="AddRequirment()" [disabled]="patientForm.invalid" class="btn btn-primary" type="button">
                <svg class="bi bi-file-plus-fill" fill="currentColor" height="16" viewBox="0 0 16 16"
                     width="16" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                </svg>
                Add New Item
              </button>
            </div>

            <div class="example-button-container">
              <button (click)="removeRequest()" [disabled]="patientForm.invalid" class="btn btn-danger" type="button">
                <svg class="bi bi-file-minus-fill" fill="currentColor" height="16" viewBox="0 0 16 16"
                     width="16" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6 7.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1 0-1z"/>
                </svg>
                Delete Last Item
              </button>
            </div>
          </div>
        </div>

        <div formArrayName="requirement">
          <div *ngFor="let contact of contactFormGroup.controls; let i = index;">
            <div [formGroupName]="i" class="row">

              <div class="col-md-4">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Requirement Name<span style="color: red !important">*</span></mat-label>
                  <input formControlName="requirementName" matInput placeholder="Requirement Name" type="text"/>
                  <mat-error *ngIf="getContactsFormGroup(i).controls['requirementName'].hasError('required')">
                    Requirment is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Requirement Quantity<span style="color: red !important">*</span></mat-label>
                  <!-- <input type="text" formControlName="requirementQuantity" matInput placeholder="Requirement Quantity" /> -->
                  <mat-select formControlName="requirementQuantity" placeholder="Requirement Quantity">
                    <mat-option *ngFor="let Quantity of Quantityz" [value]="Quantity.value">
                      {{Quantity.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="getContactsFormGroup(i).controls['requirementQuantity'].hasError('required')">
                    Requirment Quantity is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Unit of Measures<span style="color: red !important">*</span></mat-label>
                  <mat-select formControlName="unitOfMeasure" placeholder="Unit of Measures">
                    <mat-option *ngFor="let uom of uoms" [value]="uom.value">
                      {{uom.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="getContactsFormGroup(i).controls['unitOfMeasure'].hasError('required')">
                    Unit of Mesures is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <!-- <button mat-raised-button color="primary" [disabled]="loginForm.form.invalid" (click)="Create()" routerLink="/#/sos"> -->
        <button (click)="Create()" [disabled]="patientForm.invalid" [disabled]="loginForm.invalid" class="btn btn-primary"
                matTooltip="Submit your SOS request" routerLink="/#/sos" type="button">
          Submit
        </button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
