<h2>List Medicines... </h2>
<div class="col-md-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>City</th>
                <th>Name</th>
                <th>Pharmacy</th>
                <th>Address</th>
                <th>Contact Person</th>
                <th>Mobile Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medicine of medicines">
                <td>{{medicine.city}}</td>
                <td>{{medicine.medName}}</td>
                <td>{{medicine.pharmacy}}</td>
                <td>{{medicine.address}}</td>
                <td>{{medicine.contactPerson}}</td>
                <td>{{medicine.mobileNumber}}</td>
                <td><button class="btn btn-danger" (click)="deleteMedicine(medicine)">Delete Medicine</button></td>
            </tr>
        </tbody>
    </table>
</div>
