<div class="container">
  <mat-card><h2>List Medicines... </h2> </mat-card>
<div class="col-md-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><mat-card>City</mat-card></th>
                <th><mat-card>Name</mat-card></th>
                <th><mat-card>Pharmacy</mat-card></th>
                <th><mat-card>Address</mat-card></th>
                <th><mat-card>Contact Person</mat-card></th>
                <th><mat-card>Mobile Number</mat-card></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medicine of medicines">
                <td><mat-card>{{medicine.city}}</mat-card></td>
                <td><mat-card>{{medicine.medicineName}}</mat-card></td>
                <td><mat-card>{{medicine.pharmacy}}</mat-card></td>
                <td><mat-card>{{medicine.address}}</mat-card></td>
                <td><mat-card>{{medicine.contactPerson}}</mat-card></td>
                <td><mat-card>{{medicine.mobileNumber}}</mat-card></td>
                <td><mat-card><button class="btn btn-danger" (click)="deleteMedicine(medicine)">Delete Medicine</button></mat-card></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
