/* .mat-grid-tile .mat-figure {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
 } */

 .Container mat-grid-list{ /* You Can Name it what you want*/
    margin-right:16px;
    }
    .Container mat-grid-list:last-child{
    margin-right:0px;
    /*so the last one dont push the div thas giving the space only between the inputs*/
}

.cards{
    margin-right: 16px;
    position: float;
}