<!-- <div class="container">
  <div class="col-md-6">
    <mat-card>
      <h2 class="text-center">Add Medicine</h2>
    </mat-card>
    <form>
      <mat-card>
        <div class="form-group">
          <label for="medicineName">Medicine Name:</label>
          <input type="name" [(ngModel)]="user.medicineName" placeholder="Medicine Name" name="medicineName"
            class="form-control" id="medicineName">
        </div>
      </mat-card>
      <mat-card>
        <div class="form-group">
          <label for="pharmacy">Pharmacy:</label>
          <input [(ngModel)]="user.pharmacy" placeholder="Pharmacy" name="pharmacy" class="form-control" id="pharmacy">
        </div>
      </mat-card>
      <mat-card>
        <div class="form-group">
          <label for="city">City:</label>
          <input [(ngModel)]="user.city" placeholder="City Name" name="city" class="form-control" id="city">
        </div>
      </mat-card>
      <mat-card>
        <div class="form-group">
          <label for="address">Address:</label>
          <input type="name" [(ngModel)]="user.address" placeholder="Address" name="address" class="form-control"
            id="address">
        </div>
      </mat-card>
      <mat-card>
        <div class="form-group">
          <label for="contactPerson">Contact Person:</label>
          <input type="name" [(ngModel)]="user.contactPerson" placeholder="Contact Person" name="contactPerson"
            class="form-control" id="contactPerson">
        </div>
      </mat-card>
      <mat-card>
        <div class="form-group">
          <label for="mobileNumber">Mobile Number:</label>
          <input type="name" [(ngModel)]="user.mobileNumber" placeholder="Mobile Number" name="mobileNumber"
            class="form-control" id="mobileNumber">
          <mat-error *ngIf="mobFormControl.errors?.pattern && !mobFormControl.hasError('required')">
            Please enter a valid Valid Phone Number
          </mat-error>
          <mat-error *ngIf="mobFormControl.hasError('required')"> Phone Number is required </mat-error>
        </div>
      </mat-card>
      <mat-card>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="check()">
          <label class="form-check-label" for="flexCheckDefault">
            Confirmed and verified
          </label>
        </div>
      </mat-card>
      <mat-card>
        <button mat-raised-button color="primary" class="btn btn-success" (click)="CreateMedicine()">Submit</button>
      </mat-card>
    </form>
  </div>
</div> -->

<div [formGroup]="medForm" style="margin-left: 2%; margin-right: 2%;">
  <mat-card>
    <div fxLayout="row">
      <div fxFlex="50%">
        <mat-form-field appearance="outline" class="scheduler-field">
          <mat-label class="mat-caption">Medicine Name</mat-label>
          <input formControlName="medicineName" matInput placeholder="Medicine Name">
          <mat-error>Should be filled and have atleast 2 character</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50%">
        <mat-form-field appearance="outline" class="scheduler-field">
          <mat-label class="mat-caption">Pharmacy</mat-label>
          <input formControlName="pharmacy" matInput placeholder="Pharmacy">
          <mat-error>Should be filled</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="50%">
        <mat-form-field appearance="outline" class="scheduler-field">
          <mat-label class="mat-caption">City</mat-label>
          <input formControlName="city" matInput placeholder="City">
          <mat-error>Should be filled</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50%">
        <mat-form-field appearance="outline" class="scheduler-field">
          <mat-label class="mat-caption">Address</mat-label>
          <input formControlName="address" matInput placeholder="Address">
          <mat-error>Should be filled</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="50%">
        <mat-form-field appearance="outline" class="scheduler-field">
          <mat-label class="mat-caption">Contact Person</mat-label>
          <input formControlName="contactPerson" matInput placeholder="Contact Person">
          <mat-error>Should be filled and have atleat 3 character</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50%">
        <mat-form-field appearance="outline" class="scheduler-field">
          <mat-label class="mat-caption">Phone Number</mat-label>
          <input formControlName="mobileNumber" matInput maxlength="10" placeholder="Phone Number">
          <mat-error>Should be filled and have exactly 10 numbers</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-checkbox (change)="check()">Confirmed and Verified</mat-checkbox>
      <button (click)="CreateMedicine()" [disabled]="!medForm.valid" color="primary" mat-raised-button>Submit</button>
    </div>

  </mat-card>
</div>
