<div class="row">
  <div class="col-sm-9">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Upload Prescription (.pdf format only)</mat-label>
      <ngx-mat-file-input (change)="selectFile($event)" [accept]="'.pdf'"
                          placeholder="Basic Input"></ngx-mat-file-input>
    </mat-form-field>
  </div>

  <div class="col-sm-3">
    <div>
      <button (click)="upload()" [disabled]="!selectedFiles" color="primary" mat-raised-button>
        Upload
      </button>
    </div>
  </div>

</div>
