<div class="container">
  <mat-card><h2>List Equipments... </h2></mat-card>
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          <mat-card>Equipment Name</mat-card>
        </th>
        <th>
          <mat-card>City</mat-card>
        </th>
        <th>
          <mat-card>Hospital</mat-card>
        </th>
        <th>
          <mat-card>Address</mat-card>
        </th>
        <th>
          <mat-card>Contact Person</mat-card>
        </th>
        <th>
          <mat-card>Mobile Number</mat-card>
        </th>
        <th>
          <mat-card>Verification Status</mat-card>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let equipment of equipments">
        <td>
          <mat-card>{{equipment.equipmentName}}</mat-card>
        </td>
        <td>
          <mat-card>{{equipment.city}}</mat-card>
        </td>
        <td>
          <mat-card>{{equipment.hospital}}</mat-card>
        </td>
        <td>
          <mat-card>{{equipment.address}}</mat-card>
        </td>
        <td>
          <mat-card>{{equipment.contactPerson}}</mat-card>
        </td>
        <td>
          <mat-card>{{equipment.mobileNumber}}</mat-card>
        </td>
        <td>
          <mat-card>{{equipment.verificationStatus}}</mat-card>
        </td>
        <td>
          <mat-card>
            <button (click)="deleteEquipment(equipment)" class="btn btn-danger">Delete Equipment</button>
          </mat-card>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
