<br><div class="container">
    <button type="button" class="btn btn-outline-primary" routerLink="doctorregistration">Doctor Register</button>&nbsp;
    <button type="button" class="btn btn-outline-primary" routerLink="volunteerregistration">Volunteer Register</button>
    <input type="button" class="btn btn-primary" value="Login" style="float: right;">

  </div>

<h1>Join the Pandemic Support</h1>
<a>Landing Page</a>
<app-patient-otp></app-patient-otp>
<app-latest-information></app-latest-information>

