<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <div class="grid-container">
      <div class="grid-item">Prof. pic</div>
      <div class="grid-item">Patient name</div>
      <div class="grid-item">Bio</div>
      <div class="grid-item">Questions</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>

  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>

  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
