<div class="container">
<div class="col-md-6">
    <mat-card><h2 class="text-center">Add Equipment</h2></mat-card>
    <!-- <mat-card>Add Equipment</mat-card> -->
    <form>
      <mat-card>
      <div class="form-group">
        <label for="equipmentName">Equipment Name:</label>
        <input type="name" [(ngModel)]="user.equipmentName" placeholder="Equipment Name" name="name" class="form-control" id="equipmentName">
      </div>
      </mat-card>
      <mat-card>
      <div class="form-group">
        <label for="hospital">Hospital:</label>
        <input [(ngModel)]="user.hospital" placeholder="Hospital" name="hospital" class="form-control" id="hospital">
      </div>
      </mat-card>
      <mat-card>
      <div class="form-group">
        <label for="city">City</label>
        <input [(ngModel)]="user.city" placeholder="City Name" name="city" class="form-control" id="city">
      </div>
      </mat-card>
      <mat-card>
      <div class="form-group">
        <label for="address">Address:</label>
        <input type="name" [(ngModel)]="user.address" placeholder="Address" name="address" class="form-control" id="address">
      </div>
      </mat-card>

      <mat-card>
      <div class="form-group">
        <label for="contactPerson">Contact Person:</label>
        <input type="name" [(ngModel)]="user.contactPerson" placeholder="Contact Person" name="contactPerson" class="form-control" id="contactPerson">
      </div>
    </mat-card>
      <mat-card>
      <div class="form-group">
        <label for="mobileNumber">Mobile Number:</label>
        <input type="name" [(ngModel)]="user.mobileNumber" placeholder="Mobile Number" name="mobileNumber" class="form-control" id="mobileNumber">
      </div>
    </mat-card>
      <mat-card>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Click here only if it's verified
        </label>
      </div>
    </mat-card>
      <mat-card>
      <button mat-raised-button color="primary" class="btn btn-success" (click)="CreateEquipment()">Submit</button>
    </mat-card>
    </form>
    </div>
</div>
