<div class="container">
  <div class="row" style="background-color: rgb(215, 235, 241) !important; margin-top: 15px;">
    <div class="container">
      <div class="col-12" style="padding-right: 30px !important; padding-left: 12px !important">
        <div class="row">
          <div class="d-flex flex-row" style="background: #64b5f6 !important">
            <div class="p-2 nameCol" style="margin-top: 18px !important; margin-bottom: 18px !important">
              <span>Patient</span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container" style="margin-top: 25px">
      <div class="col-12 rowDiv" ngx-auto-scroll="10" observe-attributes
           style="background-color: rgba(32, 197, 209, 0.336) !important; max-height: 200px!important;">
        <div class="row">
          <div class="col-12">
            <div *ngFor="let message of messageArray" class="message-wrapper">
              <div *ngIf="user.reciverName === message.senderName" class="left">
                <div class="chat-bubble left slide-left">
                  <div class="message"> {{message.messageBody}}</div>
                </div>
              </div>

              <div *ngIf="user.reciverName !== message.senderName" class="right">
                <div class="chat-bubble right slide-right">
                  <div class="message"> {{message.messageBody}}</div>
                </div>
              </div>

              <div class="cf"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="container" style="margin-top: 15px">
        <div class="col-12" style="margin:0px">
          <div class="row">
            <div class="inputRow">
              <form (ngSubmit)="SendMessage()">
                <div class="input-group mb-3">
                  <textarea [(ngModel)]="user.messageBody" class="form-control" name="message"
                            style="max-height: 50px !important"></textarea>
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
