<div fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-title>
  <div>
    Search for the requirement in {{city}}
  </div>
  <div>
    <button (click)="closeDialog()" color="accent" mat-icon-button matTooltip="Close modal">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <p><strong>Requirements are:</strong></p>
  <div *ngFor="let req of requirement; let i =index">
    Requirements {{i+1}}= {{req.requirementName}}: {{req.requirementQuantity}}: {{req.unitOfMeasure}}
  </div>

  <div [formGroup]="searchForm" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="40%">
      <mat-form-field appearance="outline" class="scheduler-field">
        <mat-label class="mat-caption">Requirement*</mat-label>
        <input formControlName="requirement" matInput placeholder="Requirement">
        <mat-error>Should be filled</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="40%">
      <mat-form-field appearance="outline" class="scheduler-field">
        <mat-label class="mat-caption">City*</mat-label>
        <input formControlName="city" matInput placeholder="City">
        <mat-error>Should be filled</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="10%">
      <div style="margin-bottom: 50%;">
        <button (click)="searchData()" [disabled]="!(searchForm.get('requirement').valid && searchForm.get('city').valid)"
                color="primary"
                mat-icon-button matTooltip="Search requirement">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <!-- <div fxLayoutAlign="center" class="scheduler-field">
    <button mat-raised-button color="primary"
      [disabled]="!(searchForm.get('requirement').valid && searchForm.get('city').valid)"
      (click)="searchData()">Search</button>
  </div> -->
  <div *ngIf="showMessages" fxLayout="column" fxLayoutAlign="space-evenly stretch" style="margin:20px">
    <div *ngFor="let message of messageArray" fxFlex="90%">
      <mat-card class="mat-elevation-z8">
        <div class="title">{{message}}</div>
      </mat-card>
    </div>
  </div>
</div>
<div mat-dialog-action>
  <div [formGroup]="searchForm" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="90%">
      <mat-form-field appearance="outline" class="scheduler-field">
        <mat-label class="mat-caption">Message to be sent*</mat-label>
        <textarea formControlName="comment" matInput placeholder="Write your message here for the patient"></textarea>
        <mat-error>Should be filled to close sos request</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="scheduler-field" fxLayout="row" fxLayoutAlign="end">
    <button (click)="closeSOS()" [disabled]="!searchForm.get('comment').valid" color="primary" mat-raised-button>Close
      SOS
    </button>
  </div>
</div>
