<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Volunteers</mat-card-title>
      <mat-card-subtitle>Corona Warriors</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/volunteers.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Kind hearted people who come forward to give information about medical resources
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Become our volunteer</button>
    </mat-card-actions>
  </mat-card>
  
