<p>verify-bed works!</p>
<div class="col-md-6 container center">
    <table class="table center table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>bedType</th>
                <th>city</th>
                <th>address</th>
                <th>contactPerson</th>
                <th>mobileNumber</th>
                <th>verificationStatus</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{bed.bedType}}</td>
                <td>{{bed.city}}</td>
                <td>{{bed.address}}</td>
                <td>{{bed.contactPerson}}</td>
                <td>{{bed.mobileNumber}}</td>
                <td>{{bed.verificationStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>
