<nav (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'" class="navbar navbar-light nav1">

  <!-- <nav class="navbar navbar-light fixed-top nav1"> -->
  <div class="container-fluid" pb-3>
    <a class="navbar-brand font float-start" href="#">
      <img alt="" class="d-inline-block" height="60" src="/assets/img/logo.jpg" width="210">
    </a>
    <div *ngIf="router.url === '/'" class="Container">
      <input class="btn btn-primary" routerLink="/doctorregistration" type="button" value="Doctor Register">
      <input class="btn btn-primary" routerLink="/volunteerregistration" type="button" value="Volunteer Register">
      <input class="btn btn-primary" routerLink="/login" type="button" value="Login">
    </div>
    <div *ngIf="router.url === '/login'" class="Container">
      <input class="btn btn-primary" routerLink="/doctorregistration" type="button" value="Doctor Register">
      <input class="btn btn-primary" routerLink="/volunteerregistration" type="button" value="Volunteer Register">
    </div>
    <div *ngIf="router.url === '/doctorregistration'" class="Container">
      <input class="btn btn-primary" routerLink="/login" type="button" value="Login">
    </div>
    <div *ngIf="router.url === '/volunteerregistration'" class="Container">
      <input class="btn btn-primary" routerLink="/login" type="button" value="Login">
    </div>

    <div *ngIf="router.url === '/war-room-dashboard'" class="Container">
      <a href="/#/login">
        <img alt="" class="d-inline-block" height="20" src="/assets/img/logout.png" width="22">
      </a>
    </div>
    <div *ngIf="router.url === '/war-room-dashboard/addmedicine'" class="Container">
      <a href="/#/login">
        <img alt="" class="d-inline-block" height="20" src="/assets/img/logout.png" width="22">
      </a>
    </div>
    <div *ngIf="router.url === '/war-room-dashboard/addequipment'" class="Container">
      <a href="/#/login">
        <img alt="" class="d-inline-block" height="20" src="/assets/img/logout.png" width="22">
      </a>
    </div>
    <div *ngIf="router.url === '/war-room-dashboard/addbed'" class="Container">
      <a href="/#/login">
        <img alt="" class="d-inline-block" height="20" src="/assets/img/logout.png" width="22">
      </a>
    </div>
    <div *ngIf="router.url === '/doctor-dashboard'" class="Container">
      <a href="/#/login">
        <img alt="" class="d-inline-block" height="20" src="/assets/img/logout.png" width="22">
        <!-- <div class="bottom-right">Log out</div> -->
      </a>
    </div>
    <div *ngIf="router.url === '/sos'" class="Container">
      <a href="/#/">
        <img alt="" class="d-inline-block" height="20" src="/assets/img/logout.png" width="22">
      </a>
    </div>
  </div>
</nav>

