<section class="bg-home">
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-4" *ngFor="let content of retrievedContent">
                    <div class="card" style="width: 22rem;">
                        <div *ngIf="content.image">
                            <img [src]="content.image" class="centered-and-cropped card-img-top" width="150" height="300" alt="...">
                        </div>
                        <div>
                            <div class="card-body">
                                <h4 class="card-title">{{content.title}}</h4>
                                <h5 class="card-subtitle mb-2 text-muted">Domain: {{content.domain}}</h5>
                                <h5 class="mb-3 text-muted">Language: {{content.language}}</h5>
                                <p class="card-text content">{{content.instructions}}</p>
                                <a href="#" class="btn btn-primary">View</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>